Help/**
Modules/Microsoft.PowerShell.SecretManagement/**
Modules/Microsoft.PowerShell.SecretStore/**
Modules/Microsoft.PowerToys.Configure/**
Modules/Microsoft.WinGet.Client/**
Modules/PSScriptAnalyzer/**